name: 'build test'

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ '*' ]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ ubuntu-latest ]
        java: [ 11, 17, 21 ]
        include:
          - os: windows-latest
            java: 25

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'
          cache: 'maven'

      - name: Build and test
        shell: bash
        run: |
          if [ "${{ runner.os }}" == "Windows" ]; then
            # Testcontainers doesn't support Windows containers
            mvn clean test -U
          else
            mvn clean verify -U
          fi
